#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear-homematicwired/etc/homegear/families
	cp -R $(CURDIR)/misc/Config\ Directory/* $(CURDIR)/debian/homegear-homematicwired/etc/homegear/families
	chmod 755 $(CURDIR)/debian/homegear-homematicwired/etc/homegear/families
	chmod 644 $(CURDIR)/debian/homegear-homematicwired/etc/homegear/families/*

	mkdir -p $(CURDIR)/debian/homegear-homematicwired/etc/homegear/devices/1
	cp $(CURDIR)/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear-homematicwired/etc/homegear/devices/1
	chmod 755 $(CURDIR)/debian/homegear-homematicwired/etc/homegear/devices/1
	chmod 644 $(CURDIR)/debian/homegear-homematicwired/etc/homegear/devices/1/*

	mkdir -p $(CURDIR)/debian/homegear-homematicwired/usr/share/homegear
	cp -R $(CURDIR)/misc/Data\ Directory/* $(CURDIR)/debian/homegear-homematicwired/usr/share/homegear
	chown -R root:root $(CURDIR)/debian/homegear-homematicwired/usr/share/homegear
	chmod -R 550 $(CURDIR)/debian/homegear-homematicwired/usr/share/homegear

	mkdir -p $(CURDIR)/debian/homegear-homematicwired/var/lib/homegear/admin-ui/translations/modules/homematicwired
	cp -R $(CURDIR)/misc/UI\ Translations/* $(CURDIR)/debian/homegear-homematicwired/var/lib/homegear/admin-ui/translations/modules/homematicwired
	chown -R root:root $(CURDIR)/debian/homegear-homematicwired/var/lib/homegear/admin-ui/translations/modules/homematicwired
	chmod -R 555 $(CURDIR)/debian/homegear-homematicwired/var/lib/homegear/admin-ui/translations/modules/homematicwired

override_dh_strip:
	dh_strip --dbg-package=homegear-homematicwired

%:
	dh $@ --parallel
